{% extends "base.html" %}
    {% block content %}
        <p>Expenses</p>
        <ul>
            {% for expense in object__group_expenses %}
            <script>console.log(object__group_expenses)</script>
                <li>{{expense}}</li>
            {% endfor %}
        </ul>

        <button><a class="btn btn-primary" href="/add_expense">Add Expense</a></button>
        
        <p>Users</p>
        <ul>
        {% for user in object.users.all %}
            <li>{{user}}</li>
        {% endfor %}
        </ul>
        <button><a class="btn btn-primary" href="/add_member">Add Member</a></button>
{% endblock %}